<div style="text-align: center;">
    <h1>Welcome to Angular Lifecycle Hooks</h1>
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <button (click)="add()">add</button>

    <app-child 
    *ngIf="isVisible"
    [myCounter]="counter" 
    [secondValue]="secondValue"
    [numbers] = "numbers">
    Hello this is coming from Parent Component content projection

    </app-child>

    <button (click)="setVisibility()">show/hide</button>
</div>